@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

:root {
    --font-family-base: "Heebo", "sans-serif";
    --font-family-accent: "Yantramanav", "sans-serif";

    --color-light: #fff;
    --color-dark: #000;
    --color-dark-alternate: #131619;
    --color-gray: #404040;
    --color-light-gray: #C4C4C4;

    --border: 1px solid var(--color-light);
    --border-radius: 30px;

    --input-heigh: 54px;

    --container-width: 1300px;
    --container-pagging-x: 35px;

    --header-height: 90px;

    --transition-duration: 0.18s;
}

html {
    scroll-snap-type: y none;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: "Heebo", "sans-serif";
    font-weight: 300;
    font-size: 16px;
    color: var(--color-light-gray);
    background-color: var(--color-dark);

    overflow-y: scroll;
    height: 100%;
}

/* Утилитарные классы */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: calc(var(--container-width) + var(--container-pagging-x) * 2);
    margin: auto;
    padding-inline: var(--container-pagging-x);
}

.container-wide {
    max-width: 1920px;
    margin: auto;
}

.container-wide {
    max-width: 1920px;
    margin: auto;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 38px;
    padding-block: 7px;
    padding-inline: 26px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--color-light);
    font-size: 12px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.1em;
    white-space: nowrap;
    text-transform: uppercase;
    transition-duration: var(--transition-duration);
    user-select: none;
}

.button.transparent {
    position: relative;
    width: 192px;
    height: var(--input-heigh);
    background-color: transparent;
    border: var(--border);
    font-size: 13px;
    color: var(--color-light);
    padding-block: 14px;
    padding-inline: 31px 80px;
    transition-duration: var(--transition-duration);
    user-select: none;
}

.button.transparent::after {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    aspect-ratio: 1;
    border: var(--border);
    border-radius: 50%;
    background: url("./icons/Motivation/link-info-icon.svg") center/65% no-repeat;
    transition-duration: var(--transition-duration);
}

.input {
    width: 100%;
    height: var(--input-heigh);
    padding-block: 13px;
    padding-inline: 25px;
    background-color: transparent;
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius);
    color: var(--color-light);
}

.input:invalid {
    color: var(--color-light-gray);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.title-medium {
    font-size: clamp(24px, 2.8vw, 40px);
    line-height: 1.3;
}

.title-medium:not(:last-child) {
    margin-bottom: 14px;
}

.title-big {
    font-size: clamp(27px, 3.13vw, 60px);
}

.subtitle {
    font-size: 20px;
    line-height: 1.65;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-light);
}

.backdrop-title {
    position: relative;
    z-index: 2;
}

.backdrop-title::before {
    content: "";
    position: absolute;
    top: -0.1em;
    right: calc(100% + 0.3em);
    width: 0.65em;
    height: 1em;
    background: url("./icons/Motivation/plus-icon.svg") center/contain no-repeat;
}

.backdrop-title::after {
    content: attr(data-title);
    position: absolute;
    top: -0.32em;
    left: -0.62em;
    z-index: -1;
    font-family: var(--font-family-accent);
    font-size: 3.05em;
    font-weight: 700;
    line-height: 1;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--color-gray);
}

.backdrop-title.centered::after {
    left: 50%;
    translate: -50%;
}

/* Классы по для селекторов по тегу */

a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-light);
    transition-duration: var(--transition-duration);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    color: var(--color-light);
    font-weight: 700;
}

button,
input,
select,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

p {
    margin-block: 0;
}

b {
    font-weight: 700;
    color: var(--color-light);
}

address {
    font-style: normal;
}

/* Хедер */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dark-alternate);
    padding-inline: 15px;
    scroll-snap-align: start;
}

.header-logo {
    flex-shrink: 0;
}

.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
}

.header-menu-item {
    display: flex;
}

.header-menu-link {
    height: 90px;
    display: flex;
    align-items: center;
    column-gap: 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.1em;
}

.header-menu-link.is-current::after {
    content: "";
    width: 5px;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
    background-color: var(--color-light);
}

.header-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.header-burger-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    width: 40px;
    aspect-ratio: 1;
    background-color: transparent;
    border: var(--border);
    border-radius: 50%;
    color: var(--color-light);
}

.burger-button-line {
    width: 15px;
    height: 1px;
    border: none;
    background-color: currentColor;
    transform: scale(1.05);
}

/* Первый блок */

.banner {
    min-height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--color-dark-alternate);
    padding-inline: 70px;
    padding-bottom: min(3%, 37px);
}

.banner-info {
    display: flex;
    align-items: flex-end;
    font-size: clamp(16px, 1.56vw, 30px);
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-light);
    text-transform: uppercase;
}

.banner-info::before {
    content: "";
    width: clamp(50px, 10.1vw, 194px);
    aspect-ratio: 1;
    background: url("./icons/Banner/Vector.svg") center/contain no-repeat;
    margin-inline: 1.2em 0.8em;
    margin-bottom: 4px;
}

.banner-title {
    font-size: clamp(80px, 18.75vw, 360px);
    line-height: 1;
    margin-bottom: 12px;
    background-image: linear-gradient(#6f6d6d, #fff, #827f7f);
    background-clip: text;
    color: transparent;
    animation: gradient 2s linear infinite;
}

.banner-pagination {
    display: flex;
    justify-content: center;
}

.banner-pagination-list {
    display: flex;
    justify-content: center;
}

.banner-pagination-item {
    display: flex;
}

.banner-pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 7px;
}

.banner-pagination-button::after {
    content: "";
    width: 10px;
    aspect-ratio: 1;
    background-color: transparent;
    border: var(--border);
    border-radius: 50%;
}

.banner-pagination-button.is-current::after {
    background-color: var(--color-light);
}

/* Второй блок */

.motivation-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: clamp(30px, 10vw, 190px);
}

.motivation-item:nth-child(even) .motivation-card {
    flex-direction: row-reverse;
}

.motivation-item:nth-child(even) {
    background-color: var(--color-dark-alternate);
}

.motivation-body {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
}

.motivation-title:not(:last-child) {
    margin-bottom: 0.3em;
}

.motivation-description {
    max-width: 475px;
}

.motivation-description:not(:last-child) {
    margin-bottom: 37px;
}

.motivation-image {
    margin-block: -60px;
    border-radius: 3% 30% 3% 30%;
}

/* .motivation-item:nth-child(even) .motivation-image {
    clip-path: path("M 200,0 L 210,10 L 210,50 L 220,60 L 250,60 Z")
}  */

/* Третий блок */

.training-types {
    position: relative;
    display: flex;
    padding-block: 140px;
    padding-inline: 10px;
    background-color: var(--color-dark);
}

.training-types-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}

.training-types-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    padding-top: clamp(30px, 4.17vw, 80px);
    background: url("./icons/Training-types/Vector-icon.svg") 100% 0/clamp(30px, 4.17vw, 80px) no-repeat;
}

.training-types-image {
    width: clamp(90px, 7.7vw, 140px);
    height: clamp(100px, 13vh, 130px);
}

.training-types-title {
    white-space: nowrap;
}

/* Четвертый блок */

.join-us {
    width: 100%;
    background-color: var(--color-dark-alternate);
}

.join-us-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./images/Join-us/background2.jpg") center/cover no-repeat;
    padding-block: 9%;
    padding-inline: clamp(50px, 20vw, 480px);
}

.border-radius-wrap {
    overflow: hidden;
    border-radius: 5%;
}

.join-us-wrapper-video {
    /* ВАЖНО! */
    display: block;

    position: relative;
    inset: 0;
    margin: auto;
    max-width: clamp(290px, 50vw, 960px);
    width: 100%;
    height: auto;
}

.join-us-wrapper-play-button {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.1em;
    width: clamp(60px, 10.42vw, 200px);
    aspect-ratio: 1;
    background-color: transparent;
    border: var(--border);
    border-radius: 50%;
    font-size: 13px;
    font-weight: 700;
    color: var(--color-light);
    text-transform: uppercase;
}

.join-us-wrapper-play-button::after {
    content: "";
    width: 1.38em;
    height: 2em;
    background: url("./icons/Join-us/play-button-icon.svg") center/contain no-repeat;
}

.join-us-body {
    padding-bottom: 150px;
}

.body-title {
    font-size: clamp(60px, 9.38vw, 180px);
    line-height: 1.2;
    text-align: center;
    margin-top: -0.58em;
}

.body-title:not(:last-child) {
    margin-bottom: 0.56em;
}

.body-title::after {
    display: inline-block;
    content: "";
    width: clamp(35px, 6.14vw, 127px);
    aspect-ratio: 1;
    background: url("./icons/Join-us/join-us-title-icon.svg") center/contain no-repeat;
    margin-left: 0.14em;
}

.join-us-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
}

.join-us-header:not(:last-child) {
    padding-bottom: 52px;
}

.join-us-form {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.join-us-form-input {
    max-width: 400px;
}

.join-us-form-button {
    cursor: pointer;
}

/* Пятый блок */

.location {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--color-dark);
}

.location-iframe-container {
    height: 100%;
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}

.location-map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.location-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
    padding-block: 13%;
}

.location-body-description {
    max-width: 490px;
    text-align: center;
}

.location-body-description:not(:last-child) {
    margin-bottom: 37px;
}

/* Шестой блок */

.family {
    background-color: var(--color-dark-alternate);
}

.family-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 7px;
    padding-block: 132px 62px;
    padding-inline: 15px;
}

.family-body {
    display: flex;
    column-gap: 26px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
}

.family-body-image {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    max-width: 100%;
    border-radius: 10px;
}

/* Седьмой блок */

.calculate {
    background-color: var(--color-dark-alternate);
    scroll-snap-align: start;
}

.calculate-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 36px;
    padding-inline: 35px;
}

.calculate-body {
    width: 100%;
    max-width: 640px;
    padding-block: 140px;
    padding-left: 40px;
}

.calculate-header:not(:last-child) {
    margin-bottom: 30px;
}

.calculate-header-title:not(:last-child) {
    margin-bottom: 16px;
}

.calculate-header-description {
    max-width: 450px;
}

.calculat-form-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 18px;
}

.wide {
    grid-column: -1 / 1;
}

.calculat-form-body:not(:last-child) {
    margin-bottom: 26px;
}

.calculate-tabel {
    border-collapse: collapse;
    text-align: left;
}

.calculate-tabel th {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.75;
    letter-spacing: 0.1em;
    color: var(--color-light);
    padding-block: 20px;
}

.calculate-tabel td {
    padding-block: 15px;
}

.calculate-tabel tbody td {
    padding-right: 55px;
}

.calculate-tabel tr th:last-child,
td:nth-child(even) {
    padding-left: 30px;
}

.calculate-tabel tfoot td {
    color: var(--color-light);
    padding-block: 33px 0;
}

.calculate-tabel th:last-child,
tbody td:last-child {
    border-left: 1px solid var(--color-light-gray);
}

.calculate-tabel th,
tbody tr:not(:last-child) td {
    border-bottom: 1px solid var(--color-light-gray);
}

.calculate-tabel tbody tr:last-child td:first-child {
    position: relative;
}

.calculate-tabel tbody tr:last-child td:first-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 60%;
    background-color: var(--color-light-gray);
}

.calculate-tabel-wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    max-width: 610px;
    width: 100%;
    aspect-ratio: 1;
    margin-block: 60px;
    background-color: var(--color-dark);
    border-radius: 50%;
}

/* Футер */

.footer {
    color: var(--color-light);
}

.footer:not(.footer-extra) a {
    text-decoration: underline;
}

.footer-header {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    column-gap: 60px;
    padding-top: 140px;
    padding-bottom: 50px;
}

.footer-description.subtitle {
    max-width: 818px;
    text-align: left;
}

.footer-body {
    display: grid;
    grid-template-columns: 270px repeat(3, 1fr);
    column-gap: 60px;
    padding-bottom: 160px;
}

.body-column {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.column-address:not(:last-child) {
    margin-bottom: 35px;
}

.column-title.arrow {
    text-align: left;
    font-size: 22px;
    display: flex;
    align-items: center;
    column-gap: 0.32em;
}

.column-title.arrow::after {
    display: block;
    content: "";
    width: 0.7em;
    aspect-ratio: 1;
    background: url("./icons/Footer/Vector.svg") center/contain no-repeat;
}

.column-description {
    max-width: 235px;
}

.footer-form:not(:last-child) {
    margin-bottom: 50px;
}

.footer-form {
    position: relative;
}

.footer-form-input-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    aspect-ratio: 1;
    border: 1px, solid var(--color-light-gray);
    border-radius: 50%;
    background-color: transparent;
}

.footer-form-input-button::after {
    content: "";
    height: 100%;
    aspect-ratio: 1;
    background: url("./icons/Motivation/link-info-icon.svg") center/65% no-repeat;
}

.footer-socials-list {
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
}

.footer-socials-item a {
    display: inline-block;
    width: 24px;
    aspect-ratio: 1;
}

svg *[fill] {
    fill: currentColor;
}

svg *[stroke] {
    stroke: currentColor;
}

.footer-extra {
    width: 100%;
    background-color: var(--color-dark-alternate);
    padding-block: 15px;
}

@media (max-width: 1919px) {
    .motivation-image {
        margin-block: -20px;
    }
}

@media (max-width: 1300px) {
    .training-types {
        padding-block: 75px;
        padding-inline: 10px;
    }

    .training-types-list {
        gap: 0;
    }

    .training-types-item {
        row-gap: 25px;
        padding-top: clamp(30px, 4.17vw, 80px);
        background: url("./icons/Training-types/Vector-icon.svg") 100% 0/clamp(50px, 4.17vw, 80px) no-repeat;
    }

    .calculate-inner {
        flex-direction: column;
        row-gap: 60px;
        padding-block: 100px;
    }

    .calculate-body {
        padding-block: 0;
    }

    .calculate-tabel-wrapper {
        margin-block: 0;
    }

    .footer-header {
        row-gap: 60px;
    }

    .footer-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
        padding-bottom: 160px;
    }

}

@media (max-width: 1024px) {
    .header {
        flex-wrap: wrap;
        padding-top: 15px;
    }

    .header-menu {
        order: 1;
        flex-basis: 100%;
    }

    .header-menu-link {
        height: 70px;
    }

    .banner {
        padding-inline: 30px;
        min-height: calc(100dvh - var(--header-height) - 35px);
    }

    .motivation-image {
        width: 40%;
        height: auto;
    }

    .training-types-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .training-types-item {
        row-gap: 15px;
        padding-top: clamp(30px, 4.17vw, 80px);
        background: url("./icons/Training-types/Vector-icon.svg") 80% 0/clamp(50px, 4.17vw, 80px) no-repeat;
    }

    .join-us-body {
        padding-bottom: 100px;
    }

    .location {
        display: flex;
        flex-direction: column-reverse;
    }

    .location-body {
        padding-block: 10%;
    }

    .location-map {
        flex-grow: 1;
    }

    .family-body {
        column-gap: 20px;
    }

    .family-body-image {
        height: 360px;
    }

    .calculate-inner {
        flex-direction: column;
        row-gap: 40px;
        padding-block: 90px;
    }

    .footer-header {
        row-gap: 40px;
        padding-top: 100px;
    }

    .footer-body {
        gap: 50px;
        padding-bottom: 100px;
    }
}

@media (max-width: 768px) {

    .header {
        row-gap: 5px;
    }

    .header-menu-link {
        height: 40px;
    }

    .banner {
        padding-inline: 15px;
        min-height: calc(100dvh - var(--header-height) - 10px);
    }

    .motivation-card,
    .motivation-item:nth-child(even) .motivation-card {
        flex-direction: column-reverse;
        justify-content: center;
        padding-block: 50px;
        row-gap: 80px;
    }

    .motivation-body {
        align-items: center;
        padding-left: 0;
    }

    .motivation-title {
        text-align: center;
    }

    .motivation-description {
        text-align: center;
    }

    .motivation-image {
        width: 80%;
        height: auto;
    }

    .training-types {
        padding-block: 90px;
    }

    .training-types-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .training-types-item {
        row-gap: 15px;
        padding-top: 60px;
        background: url("./icons/Training-types/Vector-icon.svg") 85% 0/60px no-repeat;
    }

    .training-types-image {
        width: 120px;
        height: 120px;
    }

    .join-us-body {
        padding-bottom: 75px;
    }

    .body-title:not(:last-child) {
        margin-bottom: 0.9em;
    }

    .join-us-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }

    .join-us-form-button.button.transparent {
        max-width: 400px;
        width: 100%;
    }

    .location-body {
        padding-block: 13%;
    }

    .family-header {
        padding-block: 70px 60px;
    }

    .family-body {
        column-gap: 15px;
    }

    .family-body-image {
        height: 300px;
    }

    .calculate-inner {
        padding-block: 60px;
        padding-inline: 15px;
        row-gap: 55px;
    }

    .calculat-form-body {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 18px;
    }

    .calculate-form-input {
        width: 85%;
    }

    .footer-header {
        row-gap: 40px;
        padding-top: 70px;
    }

    .footer-body {
        gap: 50px;
        padding-bottom: 80px;
    }

}

@media (max-width: 560px) {
    .header {
        padding-inline: 10px;
        padding-top: 10px;
        row-gap: 7px;
    }

    .header-menu-list {
        column-gap: 30px;
    }

    .header-menu-link {
        height: 40px;
    }

    .header-actions {
        column-gap: 15px;
    }

    .header-book-button.button {
        padding-inline: 15px;
    }

    .banner {
        padding-inline: 10px;
        min-height: calc(100dvh - var(--header-height) - 5px);
    }

    .motivation-title {
        max-width: 300px;
    }

    .training-types {
        padding-block: 60px;
    }

    .training-types-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .training-types-item {
        row-gap: 10px;
        padding-top: clamp(50px, 4.17vw, 80px);
        background: url("./icons/Training-types/Vector-icon.svg") 90% 0/clamp(50px, 4.5vw, 80px) no-repeat;
    }

    .training-types-image {
        width: clamp(90px, 7.7vw, 140px);
        height: clamp(100px, 13vh, 130px);
    }

    .training-types-title {
        white-space: nowrap;
        font-size: 16px;
    }

    .join-us-wrapper {
        padding-block: 14%;
    }

    .join-us-body {
        padding-bottom: 60px;
    }

    .join-us-wrapper-play-button {
        font-size: 9px;
    }

    .location-body-description:not(:last-child) {
        margin-bottom: 20px;
    }

    .family-header {
        padding-block: 50px 40px;
        row-gap: 0;
    }

    .family-header-description {
        max-width: 390px;
    }

    .family-body {
        column-gap: 12px;
    }

    .family-body-image {
        height: 260px;
    }

    .subtitle {
        font-size: 17px;
    }

    .footer-header {
        row-gap: 40px;
        padding-top: 70px;
    }

    .footer-body {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        padding-bottom: 80px;
    }
}

@media (max-width: 480px) {

    .motivation-card,
    .training-types,
    .join-us,
    .location,
    .family {
        position: relative;
        min-height: 100dvh;
        scroll-snap-align: start;
        transition: height 0.3s linear;
    }

    .calculate,
    .footer {
        position: relative;
        scroll-snap-align: start;
        transition: height 0.3s linear;
    }

    .motivation-title:not(:last-child) {
        margin-bottom: 0.6em;
    }

    .join-us-header:not(:last-child) {
        padding-bottom: 42px;
    }

    .location {
        justify-content: center;
        align-items: center;
        row-gap: 90px;
        padding-block: 20%;
    }

    .location-iframe-container {
        width: 90%;
    }

    .location-map {
        border-radius: 10px;
    }

    .location-body {
        padding-block: 0;
    }

    .family {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
    }

    .family-header {
        row-gap: 3px;
    }

    .family-header-title {
        max-width: 280px;
    }

    .family-body {
        margin-block: 0;
        box-shadow: 0 0 15px var(--color-dark);
    }

    .family-body-image:first-child {
        margin-left: 12px;
    }

    .family-body-image:last-child {
        margin-right: 12px;
    }

    .family-body-image {
        flex-grow: 1;
        height: 350px;
        object-fit: cover;
    }

    .calculate-inner {
        padding-block: 40px 40px;
        padding-inline: 15px;
        row-gap: 55px;
    }

    .calculate-body {
        padding-left: 0px;
        padding-inline: 37px;
    }

    .calculate-form-input {
        width: 100%;
    }

    .calculate-tabel th {
        padding-block: 13px;
    }

    .calculate-tabel td {
        padding-block: 10px;
    }

    .calculate-tabel tbody td {
        padding-right: 30px;
    }

    .calculate-tabel tr th:last-child,
    td:nth-child(even) {
        padding-left: 20px;
    }

    .calculate-tabel tfoot td {
        color: var(--color-light);
        padding-block: 25px 0;
    }

    .footer-header {
        row-gap: 27px;
        padding-top: 30px;
        padding-bottom: 27px;
    }

    .footer-logo-image {
        width: 200px;
        height: auto;
        flex-shrink: 0;
    }

    .column-title {
        font-size: 19px;
    }

    .column-description {
        max-width: 350px;
    }

    .column-address:not(:last-child) {
        margin-bottom: 15px;
    }

    .footer-body {
        gap: 27px;
    }

    .body-column {
        row-gap: 7px;
    }

    .body-column:last-child {
        row-gap: 13px;
    }

    .footer-form:not(:last-child) {
        margin-bottom: 20px;
    }

    .footer-body {
        padding-bottom: 27px;
    }

    .footer-extra {
        padding-block: 10px;
    }

}

@media (max-width: 420px) {
    .motivation-card {
        row-gap: 60px;
        padding-block: 30px;
    }

    .motivation-item:nth-child(even) .motivation-card {
        row-gap: 60px;
        padding-block: 30px;
    }

    .motivation-description:not(:last-child) {
        margin-bottom: 25px;
    }

    .training-types {
        padding-block: 25px;
    }

    .join-us-wrapper {
        padding-block: 11%;
    }

    .body-title {
        font-size: 50px;
    }

    .body-title:not(:last-child) {
        margin-bottom: 25px;
    }

    .join-us-header:not(:last-child) {
        padding-bottom: 20px;
    }

    .join-us-body {
        padding-bottom: 30px;
    }

    .join-us-wrapper-video {
        max-width: clamp(260px, 50vw, 960px);
    }

    .family-body-image:not(.image-wide) {
        height: 300px;
        object-fit: cover;
    }
}

@media (max-width: 391px) {
    .banner-title {
        font-size: min(18.75vw, 360px);
    }

}

@media (max-width: 381px) {

    .header-menu-list {
        column-gap: 24px;
    }

    .banner {
        padding-inline: 10px;
        min-height: calc(100dvh - var(--header-height) - 8px);
    }

}

@media (hover: hover) {
    .button:hover {
        background-color: var(--color-light-gray);
        transform: scale(1.05);
    }

    .button.transparent:hover {
        border: 1px solid var(--color-light-gray);
        color: var(--color-light-gray);
        background-color: transparent;
        transform: scale(1.05);
    }

    .button.transparent:hover::after {
        border: 1px solid var(--color-light-gray);
        color: var(--color-light-gray);
        transform: scale(1.05);
    }

    .input:not(.footer-form-input):hover {
        border: 1px solid var(--color-light);
        transform: scale(1.05);
    }

    .footer-form-input:hover {
        border: 1px solid var(--color-light);
    }

    a:hover {
        color: var(--color-light-gray);
    }

    .header-menu-link.is-current:hover::after {
        background-color: var(--color-light-gray);
    }

    .header-burger-button:hover {
        border: 1px solid var(--color-light-gray);
        color: var(--color-light-gray);
        transform: scale(1.05);
    }

    .banner-pagination-button:not(.is-current):hover::after {
        border: 1px solid var(--color-light-gray);
    }

    .join-us-wrapper-play-button:hover {
        border: 1px solid var(--color-light-gray);
        color: var(--color-light-gray);
        transform: scale(1.05);
    }

    .footer-form-input-button:hover {
        border: 1px solid var(--color-light-gray);
        transform: scale(1.05);
    }

    /* .footer-form-input-button:hover::after {
        transform: scale(1.05);
    } */

    .footer:not(.footer-extra) a:hover {
        transform: scale(1.1);
    }
}
